<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>

</head>

<body>
  <header>
    <a href="#maincontent" class="skip-to-content">Skip to main content</a>
    <nav-bar></nav-bar>
  </header>
  <main>
    <section>
      <hero-section class="hero-section"></hero-section>
    </section>
    <section>
      <div id="searchContainer">
        <input type="text" id="searchInput" placeholder="Search for restaurants...">
        <button id="searchButton">Search</button>
    </div>
    <div id="searchResults"></div>
  
    </section>
    <div id="mainContent"></div>
  </main>
  <footer>
    <foot-bar></foot-bar>
  </footer>
</body>
<script type="module" src="../scripts/index.js"></script>

</html>